.table, .table-v {
    display: table;
    width: 100%;
    border-spacing:0;
    border-collapse: collapse;
		position: relative;
		font-family: $Medium;
    z-index: 1;

    &__row{
        display: table-row;

        &:first-child > .table__cell {
            padding-top: 0px;
            padding-bottom: 10px;
        }

        &:last-child > .table__cell {
            padding-bottom: 0px;
        }
    }

    &__cell{
        padding: 15px 40px 15px 0;
        display: table-cell;
        font-size: $fs14;
        line-height: $lh21;
        font-family: $Regular;

        &:first-child {
            padding-left: 5px;
        }
        &:last-child {
            padding-right: 5px;
        }

        @media screen and (max-width: 719px) {
            padding: 15px 10px 15px 0;
        }
    }
}

.table-v {
	.table__cell{
		padding: 15px 20px;
	}
}